.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 999;
}
  
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #162d46 !important;
}

.nav-link, .navbar-brand, .dropdown-item {
    color: #f7ffff !important;
    font-weight: bold !important;
}