.thesisPreview {
    width: 100%;
    height: 70%;
}

.thesisCard {
    width: 18rem;
    height: 22rem;
    transition: all 0.2s ease; 
    cursor: pointer;
}

.thesisCard:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

.btn:active {
    border: none;
    background-color: none;
    box-shadow: none;
}

.btn {
    transition: none;
}